.citizen-page-header {
	top: 0;
	z-index: 3;
	flex-wrap: nowrap;
	white-space: nowrap;
	box-shadow: 0 0 0 1px var(--border-color-base);
	background-color: transparent;
	transition: 0.1s !important;

	* {
		transition: 0.1s !important;
	}

	&::before {
		opacity: 1;
	}
}
